<div style="font-size:130%" class ="container text-center">
    <h1>About</h1>
    <div>
        <span>
            Study Buddy is a platform built for students - by students - that aims to ease the stress of university.
            You can share your notes, find notes that others have provided, and arrange study groups for your friends and others.
            If you're ever feeling stuck, you can even find and hire other students offering tutoring services on our platform.
        </span>
    </div>
    <div class="py-5">
        <span>Study Buddy is currently in a trial period at this time. It's access is limited to University of Toronto students only at this time. Check back soon to see when it will be available at your school!</span>
    </div>
</div>