<div style="font-size:130%" class ="container text-left">
    <h1>Careers</h1>
    <div>
        <span>
            
        </span>
    </div>
    <div class="py-5">
    <h3>UX designer:</h3>
    </div>
    <div class="py-0">
        <span>Currently seeing a UX designer, with frontend experience. Please email resumes and portfolio to: ece444studybuddy2@gmail.com</span>
    </div>
</div>