<div style="font-size:130%" class ="container text-center">
    <h1>Contact Us:</h1> 
    <div class="py-3 row">
        <div class="col-sm-12 col-md-6"> 
          <span>
            Have any questions? Something on our website doesn't work? Please contact us and let us know. We look forward to hearing from you!
        </span>
        </div>
        <div class="col-sm-12 col-md-6">
            <div>
             <span class="font-weight-bold">Email:</span><span> ece444studybudy2@gmail.com</span>
            </div>
            <div>
              <span class="font-weight-bold">Phone:</span><span> We can't afford a phone as of yet, sorry! We'll get one soon though.</span>
            </div>
        </div>
    </div>
</div>