<div style="font-size:130%" class ="container text-center">
    <h1>Frequently Asked Questions</h1>
    <div class="table-responsive">
        <table class="text-center table">
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            <tr>
                <td>Why StudyBuddy?</td>
                <td>StudyBuddy is the best platform to connect and share with other students</td>
            </tr>
            <tr>
                <td>Can I find a tutor?</td>
                <td>Yes! Students can register to be a tutor and book tutoring sessions with other students</td>
            </tr>
            <tr>
                <td>Can I find notes?</td>
                <td>Yes! Students can view and upload notes for their courses</td>
            </tr>
            <tr>
                <td>How can I meet other students?</td>
                <td>Users can create and manage study sessions that others can see and register for</td>
            </tr>
            <tr>
                <td>Is my information private?</td>
                <td>Only your username and description are visible to other users</td>
            </tr>
        </table>
    </div>
</div>