<div style="font-size:130%" class ="container text-center">
    <div>
            <h1>Terms of Service</h1>


            <h2>Welcome to StudyBuddy!</h2>

            StudyBuddy builds technologies and services that enable people to connect with each other, build communities, and learn better. These Terms govern your use of StudyBuddy, Messenger, and the other products, features, apps, services, technologies, and software we offer (the StudyBuddy Products or Products), except where we expressly state that separate terms (and not these) apply. These Products are provided to you by StudyBuddy, Inc.

            We don’t charge you to use StudyBuddy or the other products and services covered by these Terms. Instead, businesses and organizations pay us to show you ads for their products and services. By using our Products, you agree that we can show you ads that we think will be relevant to you and your interests. We use your personal data to help determine which ads to show you.

            We don’t sell your personal data to advertisers, and we don’t share information that directly identifies you (such as your name, email address or other contact information) with advertisers unless you give us specific permission. Instead, advertisers can tell us things like the kind of audience they want to see their ads, and we show those ads to people who may be interested. We provide advertisers with reports about the performance of their ads that help them understand how people are interacting with their content. See Section 2 below to learn more.

            Our Data Policy explains how we collect and use your personal data to determine some of the ads you see and provide all of the other services described below. You can also go to your settings at any time to review the privacy choices you have about how we use your data.
        

            <h3 class="pt-3">1. The services we provide</h3>

            Our mission is to give people the power to enahnce their education. We provide university level students the ability to create and share content, find resources to further their education, and make connections with other students


            <h3 class="pt-3">2. How our services are funded</h3>
            Currently we work for free

            <h3 class="pt-3">3. Your commitments to StudyBuddy and our community</h3>
            We provide these services to you and others to help advance our mission. In exchange, we need you to make these commitments

                
            <h3 class="pt-3">4. Disputes</h3>
            We try to provide clear rules so that we can limit or hopefully avoid disputes between you and us. If a dispute does arise, however, it's useful to know up front where it can be resolved and what laws will apply.
            If you are a consumer, the laws of the country in which you reside will apply to any claim, cause of action, or dispute you have against us that arises out of or relates to these Terms or the StudyBuddy Products, and you may resolve your claim in any competent court in that country that has jurisdiction over the claim.

            <h3 class="pt-3">5. Other</h3>
            These Terms (formerly known as the Statement of Rights and Responsibilities) make up the entire agreement between you and StudyBuddy, Inc. regarding your use of our Products. They supersede any prior agreements.
            Some of the Products we offer are also governed by supplemental terms. If you use any of those Products, supplemental terms will be made available and will become part of our agreement with you. For instance, if you access or use our Products for commercial or business purposes, such as buying ads, selling products, developing apps, managing a group or Page for your business, or using our measurement services, you must agree to our Commercial Terms. To the extent any supplemental terms conflict with these Terms, the supplemental terms shall govern to the extent of the conflict.
            If any portion of these Terms is found to be unenforceable, the remaining portion will remain in full force and effect. If we fail to enforce any of these Terms, it will not be considered a waiver. Any amendment to or waiver of these Terms must be made in writing and signed by us.
            You will not transfer any of your rights or obligations under these Terms to anyone else without our consent.
            You may designate a person (called a legacy contact) to manage your account if it is memorialized. Only your legacy contact or a person who you have identified in a valid will or similar document expressing clear consent to disclose your content upon death or incapacity will be able to seek disclosure from your account after it is memorialized.
            These Terms do not confer any third-party beneficiary rights. All of our rights and obligations under these Terms are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.
            You should know that we may need to change the username for your account in certain circumstances (for example, if someone else claims the username and it appears unrelated to the name you use in everyday life). We will inform you in advance if we have to do this and explain why.
            We always appreciate your feedback and other suggestions about our products and services. But you should know that we may use them without any restriction or obligation to compensate you, and we are under no obligation to keep them confidential.
            We reserve all rights not expressly granted to you.

            <h3 class="pt-3">6. Other terms and policies that may apply to you</h3>
            Community Standards: These guidelines outline our standards regarding the content you post to StudyBuddy and your activity on StudyBuddy and other StudyBuddy Products.
            Commercial Terms: These terms apply if you also access or use our Products for any commercial or business purpose, including advertising, operating an app on our Platform, using our measurement services, managing a group or a Page for a business, or selling goods or services.
            Advertising Policies: These policies specify what types of ad content are allowed by partners who advertise across the StudyBuddy Products.
            Self-Serve Ad Terms: These terms apply when you use self-serve advertising interfaces to create, submit, or deliver advertising or other commercial or sponsored activity or content.
            Pages, Groups and Events Policy: These guidelines apply if you create or administer a StudyBuddy Page, group, or event, or if you use StudyBuddy to communicate or administer a promotion.
            StudyBuddy Platform Policy: These guidelines outline the policies that apply to your use of our Platform (for example, for developers or operators of a Platform application or website or if you use social plugins).
            Developer Payment Terms: These terms apply to developers of applications that use StudyBuddy Payments.
            Community Payment Terms: These terms apply to payments made on or through StudyBuddy.
            Commerce Policies: These guidelines outline the policies that apply when you offer products and services for sale on StudyBuddy.
            StudyBuddy Brand Resources: These guidelines outline the policies that apply to use of StudyBuddy trademarks, logos, and screenshots.

    </div>

</div>